/* Distributed by http://freehtml5templates.com */

.rm_container{
	width:700px;
	overflow:hidden;
	position:relative;
	height:410px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	-moz-box-shadow:0px 0px 10px #000000;
	-webkit-box-shadow:0px 0px 10px #000000;
	box-shadow:0px 0px 10px #000000;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	border: thin solid #FAEBD7;

}
.group_member{
	background:transparent url(../images/lines.png) repeat top left;
	padding:10px 30px;
	position:absolute;
	bottom:15px;
	right:-20px;
	color:#000;
	font-size:36px;
	text-transform:uppercase;
	text-shadow:1px 0px 1px #fff;
	width: 368px;
}
.rm_container ul{
	width:970px;
}
.rm_container ul li{
	float:left;
	margin-left:-80px;
	position:relative;
	overflow:hidden;
	width:310px;
	height:465px;
	border-width:50px 30px 0px 30px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
-moz-box-shadow:0px 0px 4px #000000;
-webkit-box-shadow:0px 0px 4px #000000;
box-shadow:0px 0px 4px #000000;
}
.rm_container ul li img{
	position:absolute;
	top:0px;
	left:0px;


}
.rm_mask_right, .rm_mask_left{
	position: absolute;
	height: 110px;
	width: 530px;
	bottom: -30px;
	left: 0px;
	-moz-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	transform:rotate(-3deg);
}
.rm_mask_right{
	left:auto;
	right:0px;
	-moz-transform:rotate(3deg);
	-webkit-transform:rotate(3deg);
	transform:rotate(3deg);
}
.rm_corner_right, .rm_corner_left{
	position:absolute;
	width:200px;
	height:100px;
	bottom:0px;
	left:-65px;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
.rm_corner_right{
	left:auto;
	right:-65px;
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.rm_nav a{
	position:absolute;
	top:183px;
	width:78px;
	height:72px;
	cursor:pointer;
	opacity:0.7;
}
.rm_nav a:hover{
	opacity:1.0;
}
.rm_nav a.rm_next{
	right:59px;
	background-color: transparent;
	background-image: url(../images/next.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.rm_nav a.rm_prev{
	left:45px;
	background-color: transparent;
	background-image: url(../images/prev.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.rm_controls{
	position:absolute;
	top:53px;
	left:41px;
	height:48px;
	width: 88px;
}
.rm_controls a{
	cursor:pointer;
	opacity:0.7;
	padding-left:24px;
	font-size:16px;
	text-transform:uppercase;
	height:20px;
	float:left;
	line-height:20px;
}
.rm_controls a:hover{
	opacity:1.0;
}

.rm_wrapper{
	width:960px;
	margin:0 auto;
	position:relative;
	left:-8%;
}

.content .rm_wrapper .rm_controls a {
	color: #222222;
	text-decoration: none;
}
.content .rm_wrapper .rm_controls a:hover {
	color: #777777;
}